.main_hero {
  background-image: url("../assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins";
}
.hero_search {
  text-decoration: none;
  width: 274px;
  display: flex;
  border: 1px solid white;
}
.hero_search:hover{
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white;
}
.hero_search:hover .hero_search_icon {
  color: white !important;
}
.hero_search_icon {
  top: 33%;
  left: 20px;
}
.inner_hero h1 {
  font-weight: 700;
  font-size: 70px;
  margin: 30px 0;
}
.inner_hero h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 65px;
}
.inner_hero h2 span {
  color: #7ee0fa;
}
.inner_hero p {
  font-size: 26px;
  font-weight: 500;
}
.hero_inner_store {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
}
.hero_inner_store img {
  width: 230px;
}
.hero_down {
  background-color: transparent;
}

/* category */
.main_category {
  background: linear-gradient(177.39deg, #7ee0fa -243.53%, #ffffff 97.94%);
  font-family: "Poppins";
  padding: 90px 0;
}
.category h1 {
  font-size: 50px;
  font-weight: 700;
  color: #6a2e17;
}
.category p {
  font-weight: 400;
  font-size: 22px;
  width: 700px;
  margin: 0 auto;
}

.category_slider img {
  width: 100%;
}
.category_big {
  width: 23%;
}
.category_medium {
  width: 20%;
}
.category_small {
  width: 17%;
}
.category_slide_inner {
  background: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #924520;
}
.category_inner_text {
  padding: 15px;
}
.category_inner_text a {
  font-size: 12px;
  color: #924520;
}
.category_small h6 {
  font-size: 14px;
}

/* download */
.main_download {
  margin: 120px 0;
  font-family: "Poppins";
}
.download {
  border: 2px solid #7ee0fa;
  box-shadow: 0px 5px 4px 2px #00000040;
  border-radius: 30px;
  height: 530px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.download h1 {
  font-size: 50px;
  font-weight: 600;
  color: #7ee0fa;
}
.download p {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: #6c6c6c;
}
.download .qrscan {
  position: absolute;
  top: -93px;
  right: 25px;
}
.download_image img {
  width: 200px;
}

footer {
  padding: 100px 0 80px 0;
  font-family: "Poppins";
}
.footer_image img {
  width: 200px;
}
.footer h1 {
  font-size: 64px;
  font-weight: 700;
}
.footer p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}
.footer_bar {
  font-weight: 500;
  font-size: 16px;
  margin: 0 230px;
}
.footer_bar span {
  color: #e58e26;
}
.footer_icon:hover{
  color: #7ee0fa;
}



@media (max-width: 1399px) {
  .hero_inner_store {
    margin-bottom: 140px;
  }

  .category_inner_text {
    padding: 15px 6px;
  }
  .footer_bar {
    margin: 0 140px;
  }
  .download {
    height: 480px;
  }
  .download .qrscan {
    right: 30px;
    width: 470px;
  }
  .qrscan img {
    width: 100%;
  }
  .download h1 {
    font-size: 44px;
  }
  .download p {
    font-size: 22px;
  }
}

@media (max-width: 1199px) {
  .inner_hero h1 {
    font-size: 62px;
  }
  .inner_hero h2 {
    font-size: 56px;
  }
  .inner_hero p {
    font-size: 24px;
  }

  .footer h1 {
    font-size: 56px;
  }
  .footer_image img {
    width: 160px;
  }
  .footer p {
    font-size: 19px;
  }
  .footer_bar {
    margin: 0 80px;
  }
  .download .qrscan {
    right: 26px;
    top: -65px;
    width: 380px;
  }
  .download {
    height: 400px;
  }
  .download h1 {
    font-size: 40px;
  }
  .download p {
    font-size: 20px;
  }
  .download_image img {
    width: 180px;
  }

  .category_slider {
    flex-wrap: wrap;
  }
  .category_small,
  .category_medium,
  .category_big {
    width: 32%;
    margin-top: 20px;
  }
  .category_small h6 {
    font-size: 20px;
  }
  .main_category {
    padding: 80px 0 50px 0;
  }
}

@media (max-width: 991px) {
  .footer_bar {
    margin: 0 0;
  }
  .download {
    height: 288px;
  }
  .download .qrscan {
    right: 14px;
    top: -55px;
    width: 280px;
  }
  .download_image img {
    width: 150px;
  }
  .download h1 {
    font-size: 30px;
  }
  .download p {
    font-size: 17px;
    line-height: 26px;
  }
  .category p {
    font-size: 20px;
    width: 640px;
  }
  .category_small h6 {
    font-size: 18px;
  }
  .main_download {
    margin: 70px 0;
  }
}

@media (max-width: 767px) {
  .inner_hero h1 {
    font-size: 58px;
  }
  .inner_hero h2 {
    font-size: 48px;
  }
  .inner_hero p {
    font-size: 22px;
  }
  .hero_inner_store img {
    width: 200px;
  }
  .download {
    height: 540px;
    justify-content: start;
  }
  .download .qrscan {
    right: 115px;
    top: 198px;
    width: 280px;
  }
  .category p {
    width: 100%;
  }
  .category h1 {
    font-size: 44px;
  }
  .category_small,
  .category_medium,
  .category_big {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .inner_hero h1 {
    font-size: 44px;
    margin-top: 60px;
  }
  .inner_hero h2 {
    font-size: 38px;
    line-height: 40px;
  }
  .inner_hero p {
    font-size: 22px;
  }
  .hero_inner_store img {
    width: 200px;
  }
  .hero_inner_store {
    flex-flow: column;
  }
  .hero_search {
    width: 100%;
  }
  .footer p {
    font-size: 16px;
  }
  .footer h1 {
    font-size: 46px;
  }
  .download .qrscan {
    left: 50%;
    transform: translateX(-50%);
    top: 198px;
  }
  .download h1 {
    font-size: 27px;
  }
  .category h1 {
    font-size: 36px;
  }
  .category p {
    font-size: 17px;
  }
  .category_small,
  .category_medium,
  .category_big {
    width: 370px;
  }
}

@media (max-width: 410px) {
  .inner_hero h1 {
    font-size: 35px;
  }
  .inner_hero h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .inner_hero p {
    font-size: 16px;
  }
  .hero_inner_store {
    margin-bottom: 110px;
  }
  .footer_image img {
    width: 130px;
  }
  .footer h1 {
    font-size: 37px;
  }
  .download p {
    font-size: 15px;
    line-height: 22px;
  }
  .download h1 {
    font-size: 30px;
  }
  .download_image img {
    width: 110px;
  }
  .download {
    height: 600px;
  }
  .download .qrscan {
    top: 257px;
  }
  .category p {
    font-size: 15px;
  }
  .category h1 {
    font-size: 28px;
  }
  .category_small,
  .category_medium,
  .category_big {
    width: 100%;
  }
}
